<div id="content">
  <div class="container mt-2" id="user-data" data-user="{{ cartId }}">
    <div class="row">
      <div class="col-lg-12">
        <!-- breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active"><a href="/">Store</a></li>
            <li aria-current="page" class="breadcrumb-item active">Product</li>
          </ol>
        </nav>
      </div>
      <div class="col-lg-3">
        <!-- MENUS AND FILTERS -->
        <div class="card sidebar-menu mb-4">
          <div class="card-header">
            <h3 class="h4 card-title">Filters</h3>
          </div>
          <div class="card-body">
            <ul class="nav nav-pills flex-column category-menu">
              <li>
                <p class="nav-link active">Order by</p>
                <ul class="list-unstyled mb-3">
                  <li><a onclick='resetFilters()' class="nav-link">Reset</a></li>
                  <li><a onclick='setDisp(true)' class="nav-link">Available</a></li>
                  <li><a onclick='setDisp(false)' class="nav-link">Unavailable</a></li>
                  <li><a onclick='setOrder("price", "desc")' class="nav-link">Price: high to high</a></li>
                  <li><a onclick='setOrder("price", "asc")' class="nav-link">Price: low to low</a></li>
                  <li><a onclick='setOrder("title", "asc")' class="nav-link">Name: A to Z</a></li>
                  <li><a onclick='setOrder("title", "desc")' class="nav-link">Name: Z to A</a></li>
                </ul>
              </li>
              <li>
                <p class="nav-link active">Categories</p>
                <ul class="list-unstyled">
                  <li><a onclick="setCategory('')" class="nav-link">All</a></li>
                  <li><a onclick="setCategory('T-shirts')" class="nav-link">T-shirts</a></li>
                  <li><a onclick="setCategory('Jackets')" class="nav-link">Jackets</a></li>
                  <li><a onclick="setCategory('Pants')" class="nav-link">Pants</a></li>
                  <li><a onclick="setCategory('Dresses')" class="nav-link">Dresses</a></li>
                  <li><a onclick="setCategory('Sweaters')" class="nav-link">Sweaters</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!--  MENUS AND FILTERS END -->
      </div>
      <div class="col-lg-9 order-1 order-lg-2">
        <div id="productMain" class="row">
          <div class="col-md-6">
            <!-- Carousel Wrapper -->
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails w-100"
              data-ride="carousel">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  {{#each data.thumbnails}}
                  <div class="carousel-item {{#if @first}} active{{/if}}">
                    <img id="product-image" src="/img/{{this}}" class="d-block w-100" alt="Thumbnail of data">
                  </div>
                  {{/each}}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <!-- Carousel Wrapper -->
            <div class="ribbon sale">
              <div class="theribbon">SALE</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon-->
            <div class="ribbon new">
              <div class="theribbon">NEW</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon-->
          </div>
          <div class="col-md-6">
            <div class="box">
              <h1 class="text-center">{{data.title}}</h1>
              <h3 class="text-center">{{data.description}}</h3>
              <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material &amp;
                  care and sizing</a></p>
              <p class="price">${{data.price}}</p>
              <div class="text-center">
                <button id="add-to-cart-btn" class="btn btn-primary btn-rounded" {{#unless
                  data.status}}disabled{{/unless}}>
                  <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i>
                  Add to cart
                </button>
              </div>
              <p class="d-none pid">{{data._id}}</p>
              <p class="d-none cid">{{userCart}}</p>
              <p class="text-center buttons">
                <a href="" class="btn btn-outline-primary d-none"><i class="fa fa-heart"></i> Add to wishlist</a>
              </p>
            </div>
          </div>
        </div>
        <div id="details" class="box">
          <p></p>
          <h4>Product Details</h4>
          <p>This product, designed with attention to detail, will add a distinctive touch to your wardrobe.</p>
          <h4>Material and Care</h4>
          <ul>
            <li>Made with the finest materials to ensure durability and comfort.</li>
            <li>Crafted with a percentage of eco-friendly polyester, supporting environmental sustainability.</li>
            <li>We recommend proper care to extend its lifespan. Please follow the provided washing instructions.</li>
          </ul>
          <h4>Size and Fit</h4>
          <ul>
            <li>This product has a fit that adapts to most body types, accentuating the silhouette without restricting
              movement.</li>
            <li>Please refer to our size guide to find the best option for you.</li>
          </ul>
          <blockquote>
            <p><em>Update your style this season with our new range of products, designed with intricate details. Make a
                fashion statement with this versatile garment that can be paired with a variety of styles and
                pieces.</em></p>
          </blockquote>
          <hr>
          <div class="social">
            <h4>Share it with your friends</h4>
            <p>
              <a href="#" class="external facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="external gplus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="external twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="email"><i class="bi bi-envelope-fill"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/product.js"></script>