
<div class="container-all">
  {{>navbar}}
  <aside class="filters">

  <div class="category-filters">
    
    <p class="filter-p">Categorías</p>
    <div class="filters-container">
      
      <button onclick="setCategory()" class="btn-category">Todos</button>
      <button onclick="setCategory('proteinas')" class="btn-category">Proteinas</button>
      <button onclick="setCategory('creatinas')" class="btn-category">Creatinas</button>
      <button onclick="setCategory('multivitaminicos')" class="btn-category">Multivitaminicos</button>
      <button onclick="setCategory('accesorios')" class="btn-category">Accesorios</button>
      <button onclick="setCategory('barras')" class="btn-category">Barras</button>
      <button onclick="setCategory('mancuernas')" class="btn-category">Mancuernas</button>
    </div>
  </div>


<div class="cant-results">
  <p>Resultados</p>
  <div class="number-result">
  <button onclick="setLimit(10)" class="show-num">10</button>
  <button onclick="setLimit(5)" class="show-num">5</button>
  <button onclick="setLimit(3)" class="show-num">3</button>
</div>
</div>

<div class="price-results">
  <p>Precio</p>
  <button onclick="setPrice('desc')" class="btn-send-msg">Desc</button>
  <button onclick="setPrice('asc')" class="btn-send-msg">Asc</button>
</div>

<div class="logout">
  <p class="user-mail">{{email}}</p>
  <button class="btn-logout" onclick="logout()">Logout</button>
</div>

</aside>


  <h2 class="prod-h2">Hey <b>{{name}}</b> rol: <b>{{role}}</b>!!! Conoce nuestros productos</h2>
  
  <section class="cards-container">

   <div class="cart-icon" onClick="goToCart('{{user_id}}','{{cart_id}}')">
    <i class="fa-solid fa-cart-arrow-down"></i>
  </div>
  

  {{#each products}}
  <div class="card" onclick="goDetails('{{_id}}')">
    {{#each thumbnail}}
      <img src="/img/{{this}}" alt="{{this}}" class="product-img"/>
    {{/each}}
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <p class="card-price">${{price}}</p>
      <p class="card-price">{{category}}</p>
    </div>
  </div>
  {{/each}}



{{!-- {{#if cart}}
  <h2>Productos en el carrito:</h2>
  <ul>
    {{#each cart.products}}
      <li>{{this.product.title}} - Cantidad: {{this.quantity}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay productos en el carrito.</p>
{{/if}} --}}


  </section>

  <div class="pagination-container">

    <div id="btns-pages" class="btns-pages-container">
      
      {{#if hasPrevPage}}
        <a href={{prevLink}} class="btn-send-msg btn-before" >Anterior</a>
      {{/if}}

      {{#if hasNextPage}}
        <a href={{nextLink}} class="btn-send-msg btn-after">Siguiente</a>
      {{/if}}
    

    </div>

    
  </div>
  {{>footer}}
</div>



<script>
  //import api from '../public/js/api.js';
  const query = new URLSearchParams(window.location.search); //me devuelve lo que tengo en la url
  const category = 'proteinas';


  function setCategory(category = ''){
      query.set('category', category);
      query.set('page', 1);
      query.set('limit', 10);
      window.location.search = query.toString();
    }

  function setLimit(limit){
    query.set('limit', limit);
    query.set('page', 1);
    window.location.search = query.toString();
    }

   
/*Números para navegar a páginas determinadas**/
  function setPaginate(page){
    query.set('page', page);
    window.location.search = query.toString();
  }

  function setPrice(order){
    query.set('sort', order);
    window.location.search = query.toString();
  }

    function renderButtonPage(){
      const totalPages = {{totalPages}};
      const currentPage = {{page}};
      const btnsPages = document.getElementById("btns-pages");

      console.log('total pages: ', totalPages);
      console.log('página actual: ', currentPage);

      for(let i = 1; i <= totalPages; i++){
      const button = document.createElement('button');
      button.innerText = i.toString();
      button.onclick = function(){
        setPaginate(i);
      }
      if(i === currentPage){
        button.classList.add('active');
      }
      btnsPages.appendChild(button);
    }

    }

     document.addEventListener('DOMContentLoaded', function(){
      renderButtonPage()

      const currentPage = parseInt(query.get('page'));
      const totalPages = {{totalPages}};
      if (currentPage > totalPages || currentPage <= 0) {
        // redirigir a productos
          alert('Página inexistente');
          window.location.href = `/products?page=1&limit=10`;
          
        }
    });


    /*go to details*/

    function goDetails(id) {
      const url = "/products/" + id;
      window.location.href = url;
}





async function logout() {
  
  //api.post('/api/auth/logout');
    const response = await fetch('/api/auth/logout', {
            method: 'POST',
            body: JSON.stringify({}), // cuerpo vacío
            headers: {   
                'Content-Type': 'application/json',       
            },
        });
        
        if(response.redirected){
            console.log(response);
            window.location.replace(response.url);
        }
    
        if(response.ok){
            return response.json();
            }
        response.json().then( d => alert(JSON.stringify(d)));
  }


/*enviar datos del carrito*/

async function goToCart (userId, cartId){
  const url = "/cart/" + userId + "/" + cartId;
  window.location.href = url;

}

 
  
</script>
   
